.photo-container {
    margin-top: 10px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(8, calc(85%/7) );
    grid-auto-rows: 200px;
    grid-gap: 10px;
}
.photo {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.photo:hover {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.photo  img {
    border-radius: 2px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}


.favourite-icon:hover{
    color: #394867;

}
.empty-img{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
}
.empty-img img  {
    width: 10%;
}

.empty-folder{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
}
.empty-folder img  {
    width: 10%;
}