.container-{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./sky-background.jpg);
    background-size: cover;
    background-position: center;
}

.body-form{
    width: 430px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }

.title-form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.input-form{
    margin-top: 10px;
}
.input-form label{
    font-size: 15px;
}
.input-form input{
    width: 340px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 5px;
}

.btn-form{
    margin-top: 10px;
}
.btn-form button{
    width: 340px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #fff;
}
.btn-form button:hover{
    background-color: orange;
    color: #fff;
}
.link-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.link-signup .link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}