.side-bar{
    width: 100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}

.side-bar-item{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 15px 20px;
    /*margin-left: 20px;*/
    color: rgb(95,99,104);
    width: 90%;
    display: flex;
    flex-direction: row;


}

.side-bar-item:hover{
    background-color: #9DBFAF;
}
.side-bar-item p{
    margin-left: 20px;
}
.side-bar-item-background{
    background-color: #9DBFAF;
}