.loader-banner{
    background-color: white;
    opacity: 0.8;
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
