.slide-container{
    cursor: pointer;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    z-index: 100;
}



.slide-image{

    height: 100%;
    width: 96%;
    object-fit: contain;
}

.btn-right{
    right: 1%;
    z-index: 100;

}
.btn-right, .btn-left{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    background-color: red;
}
.btn-left {
    left: 1%;
    z-index: 101;
}
.slide-btn-icon{
    color: #ffffff;
}


.list-btn{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 98%;
    height: 8%;
}

.btn-selectImg{
    color: white;
    font-size: 25px;
}

.btn-selectImg:hover{
    color: #333333;

}

.list-btn-selectImg{
    width: 13%;
    display: flex;
    justify-content: space-between;


}