img {
    width: 100%;
}
.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    padding: 10px 0;
    /*border-bottom: 1px solid rgb(218,220,224)*/
}
.logo p {
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(to right, red 20%, cornflowerblue 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-bar{
    width: 50%;
}
.searchTerm {
    width: 100%;
    border: 3px solid #394867;
    border-right: none;
    padding: 5px;
    height: 3rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.searchTerm:focus{
    color: #394867;
}
.searchButton {
    width: 40px;
    height: 3rem;
    border: 1px solid #394867;
    background: #394867;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.upload{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.upload:hover{
    background-color: #F1F6F9;
}
.upload-button , .search-bar,.profile-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.profile-bar div, .upload-button p{

    margin-left: 1rem;
}
.profile img {
    display: block;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.upload-bc{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #394867;
    z-index: -1;
}
.dr-menu{
    padding: 10px 8px;
    position: absolute;
    background-color: #ffffff;
    left: 92%;
}
.dr-menu p {
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 10px 0 ;
}