.profile-bar-upload {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.profile-bar-upload .upload {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    /* Set your desired background color */
    border-radius: 50%;
    /* Make it circular */
    width: 50px;
    /* Set your desired width */
    height: 50px;
    /* Set your desired height */
    cursor: pointer;
}

.profile-bar-upload .upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* Set your desired text color */
}

/* Add hover effect if needed */
.profile-bar-upload .upload:hover {
    background-color: #2980b9;
    /* Change the background color on hover */
}

.folder-container .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.folder-container .row .col-md-6{
    width: 240px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(225,229,234);
    display: flex;
    justify-content:flex-start;
    padding:5px;
    gap: 10px;
    cursor: pointer;
}

.container .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.container .row .col-md-4{
    border: 1px solid rgb(245, 141, 141);
    border-radius: 10px;
}

.container .row .col-md-4 span{
    display: flex;
    justify-content:flex-start;
    padding: 5px;
    background-color: rgb(245, 141, 141);
    border-radius: 10px 10px 0 0;
    
}

.turn-back-page{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 7px;
    cursor: pointer;
  }
  .turn-back-page p{
    font-size: 18px;
  }
  .turn-back-page span{
    color: #2980b9;
    font-weight: 700;
  }

.choose-image-to-store .image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
}
.choose-image-to-store img{
    width: 60px;
    height: 60px;
    border-radius: 2px;
}
.choose-image img{
    border: 1px solid red;
}
.action-with-image{
    width: 160px;
    background-color: #2980b9;
    margin: 3px;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}
.action-with-image .delete{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
}



.folder-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-folder{
    margin: 0 10px 0 20px;
}

.svg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.svg p{
    margin-left: 15px;
    font-size: 20px;
}

.img-album{


    object-fit: cover;
}